<div class="entry">
  <mat-card fxLayout fxLayoutAlign="space-between">
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
      <div>ID: {{entry.id}}</div>
      <div>Message: {{entry.payload.message}}</div>
      <div>State: {{entry.state}}</div>
    </mat-card-content>
    <mat-card-actions fxLayout="column">
      <button mat-button (click)="block()">BLOCK</button>
      <button mat-button (click)="resolve()">RESOLVE</button>
    </mat-card-actions>
  </mat-card>
</div>
