/* You can add global styles to this file, and also import other style files */
html, body
  height: 100%
  margin: 0

app-root
  display: flex
  height: 100%
  overflow: auto

.entry
  width: 50%
  min-width: 500px
  flex-grow: 1
  margin: 5px

.list
  overflow: auto

.mat-card-content > div
  padding: 5px

